@import url("https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: whitesmoke;
  font-family: "Viaoda Libre", sans-serif;
}